* {
  box-sizing: border-box;
}

/*  --------------------------------------- GRID --------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

header {
  grid-area: header;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: main;
  display: grid;
}

/*  --------------------------------------- STYLES --------------------------------------- */

header {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

header h1 {
  display: block;
  margin-right: auto;
  padding-left: 10px;
}

header h3 {
  margin-top: 30px;
  font-size: 100%;
}

header h3 {
  padding-right: 20px;
  padding-left: 15px;
}

header * {
  /* padding: 5px 10px 10px 10px; */
}

.bell-icon img {
  width: 30px;
  padding-top: 25px;
}

.vl {
  margin: 15px 15px;
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 65%; /* Override in-line if you want specific height. */
}

.profile-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header img {
  margin-top: auto;
  margin-bottom: auto;
}

.main-nav img {
  width: 8%;
}

h3 {
  text-transform: uppercase;
}

nav {
  background-color: blueviolet;
}

main {
  background-color: burlywood;
}

.members,
.recent-activity {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  main {
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
}
