* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/*  --------------------------------------- GRID --------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

header {
  grid-area: header;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: main;
  display: grid;
}

/*  --------------------------------------- STYLES --------------------------------------- */

header {
  width: 100%;
  color: #fff;
  background-color: #7068c9;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

header h1 {
  display: block;
  margin-right: auto;
  padding-left: 10px;
  font-weight: 300;
}

header h3 {
  margin-top: 30px;
}

header h3 {
  padding-right: 20px;
  padding-left: 15px;
}

.bell-icon img {
  width: 30px;
  padding-top: 25px;
}

.vl {
  margin: 15px 15px;
  width: 1px; /* Line width */
  background-color: #fff; /* Line color */
  height: 65%; /* Override in-line if you want specific height. */
}

hr {
  width: 100%;
  margin-left: -27px;
  padding-right: 50px;
}

.profile-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

header img {
  margin: auto 0;
}

.main-nav {
  display: flex;
  justify-content: center;
  background-color: #443f7a;
}

.main-nav img {
  width: 50px;
  margin: 15px 30px;
}

h3 {
  text-transform: uppercase;
}

main {
  width: 100%;
  background-color: #fff;
  padding: 25px;
}

.social-stats {
  padding-bottom: 30px;
}

.social-container {
  background-color: rgb(240, 240, 240);
  /* height: 120px; */
  margin-bottom: 10px;
  padding: 0 20px;
  /* margin-right: 30px; */
  border-radius: 1em;
  border: 1px solid rgb(117, 116, 116);
}

.social-image {
  background-color: #7068c9;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.social-icon {
  background-color: #7068c9;
  width: 50px;
  fill: white;
  /* padding: 1px; */
  border-radius: 50%;
}

.instagram {
  border: 1px solid #7068c9;
  border-radius: 5px;
}

.social-text {
  display: inline-block;
  margin-left: 20px;
  color: rgb(117, 116, 116);
}

.social-name {
  color: #7068c9;
  font-size: 25px;
  margin-top: 10;
  margin-bottom: 0;
}

.social-users {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
}

.members,
.recent-activity {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }
  main {
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
}
